/*
 * https://ozz.life/ - Cascading Style Sheets
 ******************************************************************************/

header.centered {
    /* If we want align vertically on enter display
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
}